.leaflet-container {
  height: 800px;
  width: 100%;
  margin-top: -60px;
}

input[type=text] {
  background-color: darkgray;
  color: black;
}
input{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}